asn1crypto==1.3.0
attrs==19.3.0
black==18.9b0
bumpversion==0.5.3
Cerberus==1.3.2
changelog-cli==0.6.2
Click>=7.0,<=7.1.2
click-default-group==1.2.1
cryptography==2.9.2
mypy==0.780
pytest==4.3.1
pytest-cov==2.6.1
pytest-mock==3.2.0
PyYAML>=3.13,<=5.3.1
requests>=2.22.0,<=2.23.0
snowflake-connector-python>=2.2.1,<=2.3.1
snowflake-sqlalchemy==1.2.1
SQLAlchemy>=1.3.13,<=1.3.19
urllib3==1.23
